<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->


  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="getLocation($event)">

    <agm-direction [origin]="orn" [destination]="dtn" [visible]="showRoute">
      <agm-marker *ngFor="let item of marcador" [latitude]="item.lat" [longitude]="item.lng" [visible]="showMarket">
      </agm-marker>
    </agm-direction>
  </agm-map>
  <div class="row">
        <div class="col-md-1">
          <button type="button" color="primary"  (click)="openFavorites()" class="btn">
           +
          </button>
        </div>

  </div>
  <div #alert class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="showAlert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Ya hay una ruta marcada!</strong> Genere una nueva.
  </div>
  <app-footer></app-footer>
